.history
# for when unpacking winget in get-latest-winget.ps1
scripts/Microsoft-*
/.history*
/dvpg/shared-data/.hide
**/data/logs/**
**/.vscode-server/**
**/.history/**
dvlp/docker/ubuntu/ubuntu22-plus-linux-kernel-6-28.tar

[safe]
.