[submodule "linux_module_zfs"]
	path = kernels/linux/modules/zfs
	url = https://github.com/kindtek/zfs
	branch = zfs-2.1-release
	active = true
	shallow = true
	recurse = false
	ignore = dirty
	update = checkout
[submodule "linux_rc"]
	path = kernels/linux/rc
	url = https://github.com/kindtek/linux_torvalds
	branch = master
	active = true
	shallow = true
	recurse = false
	ignore = dirty
	update = checkout
[submodule "linux_stable"]
	path = kernels/linux/stable
	url = https://github.com/kindtek/linux_gregkh
	branch = linux-rolling-stable
	active = true
	shallow = true
	recurse = false
	ignore = dirty
	update = checkout
[submodule "linux_lts"]
	path = kernels/linux/lts
	url = https://github.com/kindtek/linux_gregkh
	branch = linux-rolling-lts
	active = true
	shallow = true
	recurse = false
	ignore = dirty
	update = checkout
[submodule "linux_msft"]
	path = kernels/linux/msft
	url = https://github.com/kindtek/WSL2-Linux-Kernel
	active = true
	shallow = true
	recurse = false
	ignore = dirty
	update = checkout

[submodule "."]
	branch = linux-rolling-stable
