# for when unpacking winget in get-latest-winget.ps1
scripts/Microsoft-*
/.history*
/dvlp/shared-data/.hide
**/data/logs/**
**/.vscode-server/**
**/.history/**
dvlp/docker/ubuntu/ubuntu22-kernel-linux-kernel-6-28.tar
/..*-installed
/.docker-installed
/.python-installed
/.vscode-installed
/.wterminal-installed
/.github-installed
**/install-kindtek-devels-workshop.ps1
dvlp/kernels/linux/kache
dvlp/kernels/linux-build*