[submodule "scripts/add-wsl-windows-features"]
	active = true
	shallow = false
	path = scripts/add-wsl-windows-features
	url = https://github.com/devels-advocate.git
	branch = devels-workshop
	recurse = true

[submodule "scripts/powershell-remote"]
	active = true
	shallow = false
	path = scripts/powershell-remote
	url = https://github.com/kindtek/powerhell-remote
	branch = devels-workshop
	recurse = true
